.auth-layout {
  flex: 1;
  width: 100%;

  display: flex;
  align-items: center;

  padding: 8px 16px;

  box-sizing: border-box;
}

.register-main {
  width: 500px;
  max-width: 500px;
  margin: 0 auto;
}

/* ==================== CARD ==================== */

.register-card {
  width: 500px;
  max-width: 500px;

  display: flex;
  flex-direction: column;

  gap: 13.5px;

  border-radius: 16px;
  padding: 28px;

  font-family: "Be Vietnam Pro", sans-serif;

  background: #ffffff;

  box-shadow: 0px 25px 50px -12px #00000040;

  border: 1px solid #ffffff66;

  backdrop-filter: blur(4px);
}

/* ==================== CARD HEADER ==================== */

.register-card__header {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 4px;
}

.register-card__title {
  display: flex;

  gap: 6px;

  align-items: center;
}

.register-card__text {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;

  color: #111827;
}

.register-card__circle-container {
  width: 8px;
  height: 10px;

  padding-bottom: 2px;
}

.register-card__circle {
  width: 8px;
  height: 8px;

  border-radius: 9999px;

  background: var(--color-primary);
}

.register-card__discount-text {
  margin: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 19.5px;

  color: var(--color-text);
}

.register-card__discount-text--highlight {
  color: var(--color-primary);

  font-weight: 600;
  font-size: 12px;
  line-height: 19.5px;
}

/* ==================== FORM ==================== */

.register-card__form {
  padding-top: 2.5px;

  display: flex;
  flex-direction: column;

  gap: 12px;

  font-family: "Be Vietnam Pro", sans-serif;
}

.register-card__row--two-columns {
  display: flex;

  gap: 12px;

  width: 100%;
}

.register-card__row--one-column {
  width: 100%;
}

.register-card__full-name,
.register-card__tel,
.register-card__email,
.register-card__password,
.register-card__auth-password {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 4px;
}

/* ==================== LABEL ==================== */

.register-card__full-name-label,
.register-card__tel-label,
.register-card__email-label,
.register-card__password-label,
.register-card__auth-password-label {
  display: flex;

  flex-direction: row;

  font-weight: 600;
  font-size: 11px;
  line-height: 16.5px;
  letter-spacing: 0.55px;

  text-transform: uppercase;

  color: #4d5563;
}

.register-card__request {
  color: var(--color-primary);
}

/* ==================== INPUT BOX ==================== */

.register-card__input-box {
  display: flex;

  align-items: center;

  height: 40px;

  border-radius: 6px;

  background: #f8f9fa;

  border: 1px solid #e5e7eb;

  overflow: hidden;

  padding: 0 12px;

  color: var(--color-text);
}

.register-card__input-box:focus-within {
  border-color: var(--color-primary);

  box-shadow: 0 0 0 2px #ed482620;
}

/* ==================== INPUT ICON ==================== */

.register-card__icon {
  width: 11.2px;

  font-size: 11.2px;

  flex-shrink: 0;

  color: #9ca3af;
}

/* ==================== INPUT ==================== */

.register-card__input {
  height: 100%;

  padding: 10px 12px;

  width: 100%;

  background: #f8f9fa;

  outline: none;

  border: none;

  color: var(--color-text);

  font-family: "Be Vietnam Pro", sans-serif;
}

.register-card__input::placeholder {
  font-weight: 400;

  font-size: 14px;

  line-height: 100%;

  color: #9ca3af;
}

/* ==================== PASSWORD EYE ==================== */

.register-card__eye-button {
  width: 20px;
  height: 20px;

  display: flex;

  align-items: center;
  justify-content: center;

  padding: 0;

  border: none;
  outline: none;

  background: transparent;

  cursor: pointer;

  flex-shrink: 0;
}

.register-card__eye-icon {
  font-size: 13px;

  color: #9ca3af;
}

/* ==================== TERM ==================== */

.register-card__term {
  position: relative;

  height: 18px;
}

#term {
  width: 18px;
  height: 18px;

  border-radius: 4px;

  margin: 0;

  position: absolute;

  top: 1px;
  left: -1px;

  border: 1px solid #000000;

  accent-color: var(--color-primary);

  cursor: pointer;
}

.register-card__term-label {
  padding-left: 8px;

  position: absolute;

  top: 2.5px;
  left: 16px;

  font-weight: 400;
  font-size: 12px;

  color: #374151;

  cursor: pointer;
}

.register-card__term-label--highlight {
  font-weight: 500;

  font-size: 12px;

  color: var(--color-primary);
}

/* ==================== SUBMIT BUTTON ==================== */

.register-card__submit {
  height: 42px;

  position: relative;

  border-radius: 4px;

  padding: 0 16px;

  background-color: var(--color-primary);

  box-shadow: 0px 4px 6px -1px #0000001a;

  border: none;

  outline: none;

  cursor: pointer;

  font-family: "Be Vietnam Pro", sans-serif;
}

.register-card__submit:hover {
  opacity: 0.95;
}

.register-card__submit-text {
  height: 20px;

  display: inline-block;

  font-weight: 500;

  font-size: 14px;

  line-height: 20px;

  color: var(--color-white);

  margin-right: 8px;
}

.register-card__submit-icon {
  position: absolute;

  font-size: 8.3px;

  color: var(--color-white);

  top: 16px;
}

/* ==================== FAST REGISTER LABEL ==================== */

.register-card--fast-register-label {
  position: relative;

  width: 100%;
  height: 24px;

  display: flex;

  justify-content: center;

  align-items: center;

  padding-top: 7px;
  padding-bottom: 3px;
}

.register-card__line::after {
  position: absolute;

  content: "";

  display: block;

  width: 100%;
  height: 1px;

  background: #e5e7eb;

  top: 11.5px;
  left: 0;

  z-index: 0;
}

.register-card--fast-register-text {
  position: absolute;

  top: 5px;

  z-index: 1;

  height: 17px;

  background: var(--color-white);

  color: #9ca3af;

  padding: 0 12px;

  font-weight: 700;

  font-size: 11px;

  text-transform: uppercase;
}

/* ==================== FAST REGISTER ==================== */

.register-card--fast-register {
  display: flex;

  gap: 12px;
}

.register-card--fast-register-google,
.register-card--fast-register-outlook {
  height: 38px;

  display: flex;

  align-items: center;

  justify-content: center;

  gap: 8px;

  border-radius: 4px;

  padding: 0 73px;

  background: var(--color-white);

  border: 1px solid #e5e7eb;

  cursor: pointer;

  font-family: "Be Vietnam Pro", sans-serif;
}

.register-card--fast-register-icon {
  width: 16px;
  height: 16px;
}

.register-card--fast-register-desc {
  height: 16px;

  font-weight: 500;

  font-size: 12px;

  color: #374151;
}

/* ==================== CARD FOOTER ==================== */

.register-card-footer {
  display: flex;

  justify-content: center;

  gap: 4px;

  height: 16px;
}

.register-card__haveAccount {
  font-weight: 400;

  font-size: 12px;

  color: #6b7280;
}

.register-card__loginNow {
  font-weight: 700;

  font-size: 12px;

  color: var(--color-primary);

  text-decoration: none;
}

/* ==================== RESPONSIVE ==================== */

@media (max-width: 1024px) {
  .auth-layout {
    flex: 1;
    width: 100%;
    min-height: 0;
    padding: 8px 16px;
  }

  .register-main {
    width: 100%;
    max-width: 500px;
    min-height: auto;
    padding: 80px 0;
  }

  .register-card {
    width: 100%;
  }

  .register-card--fast-register-google,
  .register-card--fast-register-outlook {
    padding: 0 20px;
    flex: 1;
  }
}

@media (max-width: 768px) {
  .register-main {
    width: 100%;

    max-width: 350px;

    margin: 0 auto;

    padding: 40px 0;
  }

  .register-card {
    width: 350px;

    max-width: 100%;

    padding: 20px;
  }

  .register-card__row--two-columns {
    flex-direction: column;
  }

  .register-card__submit {
    margin-top: 12px;
  }

  .register-card--fast-register {
    gap: 8px;
  }

  .register-card--fast-register-google,
  .register-card--fast-register-outlook {
    padding: 0 12px;

    flex: 1;
  }
}

.register-card__input::-ms-reveal,
.register-card__input::-ms-clear {
  display: none;
}

.register-card__input::-webkit-credentials-auto-fill-button {
  display: none;
}

.register-card__input::-webkit-textfield-decoration-container {
  display: none;
}
